<header>
    <h1 class="title is-1 has-text-centered"> Todos </h1>
</header>
<section class="container">
    <div class="add-todo-box">
        <h2 class="title is-5">New Todo</h2>
        <form #form="ngForm" (ngSubmit)="onFormSubmit(form)">
            <div class="field is-grouped">
                <div class="control is-expanded">
                    <input type="text" #todoTextField="ngModel" minlength="3" class="input" placeholder="type todo text here ..." name="todoInput" required ngModel id="">
                </div>
                <div class="control">
                    <button class="button alt-gradient-button">
                        <i class="material-icons">add</i>
                        Add
                    </button>
                </div>
            </div>
            <!-- <div *ngIf="todoTextField.invalid && showvalidationErrors">
                <p class="help is-danger" *ngIf="todoTextField.errors.required">
                    *  Please enter the text of your todo
                  </p>
                  <p class="help is-danger" *ngIf="todoTextField.errors.minlength">
                    *  todo text must be at least 3 characters
                  </p>
            </div> -->
            <p class="help is-danger" *ngIf="todoTextField.invalid">
              *  Please enter the text of your todo
            </p>
            <p class="help is-danger" *ngIf="todoTextField.invalid">
              *  todo text must be at least 3 characters
            </p>
        </form>
    </div>

    <div class="todos-list">

        <div class="todo-item " *ngFor="let todo of todos" [class.completed] = "todo.completed" > 
            <div class="check-box">
                <i class="material-icons">check</i>
            </div>
            <div class="todo-text">
                {{todo.text}}
            </div>
            <div class="todo-controls-box">
                <button class="todo-control-button">
                    <i class="material-icons">edit</i>
                </button>
                <button class="todo-control-button">
                    <i class="material-icons">delete</i>
                </button>
            </div>
        </div>


    </div>
</section>