<div class="container-fluid add-todo-box-container">
  <div class="add-todo-box">
    <form #form="ngForm" (ngSubmit)="onFormSubmit(form)">
      <div class="task-input-wrapper">
        <div class="task-input-container">
          <div class="radio-button-placeholder"></div>
          <input ngModel #todoTextField="ngModel" required minlength="4" name="todoInput" class="task-input" type="text" placeholder="Add a task">
          <div class="task-input-actions">
            <button type="button" class="icon-action-button" aria-label="Calendar">
              <i class="material-icons">calendar_today</i>
            </button>
            <button type="button" class="icon-action-button" aria-label="Reminder">
              <i class="material-icons">notifications_none</i>
            </button>
            <button type="button" class="icon-action-button" aria-label="Repeat">
              <i class="material-icons">repeat</i>
            </button>
          </div>
          <button type="submit" class="add-button">
            Add
          </button>
        </div>
      </div>

      @if (todoTextField.invalid) {
        <p class="help is-danger">Please enter the text of your todo</p>
      }
      @if (todoTextField.invalid) {
        <p class="help is-danger">Todo text must be at least 4 characters</p>
      }
    </form>

  </div>
</div>

<section>
  <div class="container">
    <div class="todos-list">
      @for (todo of todos; track todo) {
        <app-todo-item
          [todo]="todo"
          (todoClicked)="toggleCompleted(todo)"
          (editClicked)="editTodo(todo)"
          (deleteClicked)="deleteTodo(todo)"
        ></app-todo-item>
      }

    </div>
  </div>
</section>
