<header>
    <h1 class="title is-1 has-text-centered"> Todos </h1>
</header>
<section class="container">
    <div class="add-todo-box">
        <h2 class="title is-5">New Todo</h2>
        <form>
            <div class="field is-grouped">
                <div class="control is-expanded">
                    <input type="text" class="input" placeholder="type todo text here ..." name="" id="">
                </div>
                <div class="control">
                    <button class="button alt-gradient-button">
                        <i class="material-icons">add</i>
                        Add
                    </button>
                </div>
            </div>
        </form>
    </div>

    <div class="todos-list">

        <div class="todo-item completed">
            <div class="check-box">
                <i class="material-icons">check</i>
            </div>
            <div class="todo-text">
                Build an Angular App
            </div>
            <div class="todo-controls-box">
                <button class="todo-control-button">
                    <i class="material-icons">edit</i>
                </button>
                <button class="todo-control-button">
                    <i class="material-icons">delete</i>
                </button>
            </div>
        </div>

        <div class="todo-item">
            <div class="check-box">
                <i class="material-icons">check</i>
            </div>
            <div class="todo-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae cum velit vel.
            </div>
              <div class="todo-controls-box">
                <button class="todo-control-button">
                    <i class="material-icons">edit</i>
                </button>
                <button class="todo-control-button">
                    <i class="material-icons">delete</i>
                </button>
            </div>
        </div>

        <div class="todo-item">
            <div class="check-box">
                <i class="material-icons">check</i>
            </div>
            <div class="todo-text">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum consequuntur maxime sed, aut illum
                libero odio, possimus, temporibus ea quos eius porro dolor? Officiis, eius.
            </div>
              <div class="todo-controls-box">
                <button class="todo-control-button">
                    <i class="material-icons">edit</i>
                </button>
                <button class="todo-control-button">
                    <i class="material-icons">delete</i>
                </button>
            </div>
        </div>

        <div class="todo-item">
            <div class="check-box">
                <i class="material-icons">check</i>
            </div>
            <div class="todo-text">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum consequuntur maxime sed, aut illum
                libero odio, possimus, temporibus ea quos eius porro dolor? Officiis, eius.
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum consequuntur maxime sed, aut illum
                libero odio, possimus, temporibus ea quos eius porro dolor? Officiis, eius.
            </div>
              <div class="todo-controls-box">
                <button class="todo-control-button">
                    <i class="material-icons">edit</i>
                </button>
                <button class="todo-control-button">
                    <i class="material-icons">delete</i>
                </button>
            </div>
        </div>

    </div>
</section>